/* Welcome Component ------------------------------------------------- */

@font-face {
    font-family: "The_Bloom_Pen";
    src: url("/The_Bloom_Pen.otf");
}

@font-face {
    font-family: "Belgika-16th";
    src: url("/Belgika-16th.otf");
}

@font-face {
    font-family: "Mensch";
    src: url("/mensch-thin-wf.ttf");
}

@font-face {
    font-family: "Test";
    src: url("/Autumn_in_November.ttf");
}

@font-face {
    font-family: "MenschWF";
    src: url("/mensch-wf.ttf");
}

@font-face {
    font-family: "Mastina";
    src: url("/Masthina.otf");
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    cursor: url("/cursor(4).cur"), auto;
}

.logo {
    background-image: url("/Logo_Green_Mates.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 200px;
    width: 200px;
    position: absolute;
    left: 415px;
    top: 60px;
}

.welcome {
    background-image: url("/Landingpage_1.png");
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    width: 100vw;
    font-family: "MenschWF";
    font-size: 20px;
    color: #2c632c;
}

.welcometext {
    height: 500px;
    width: 500px;
    font-size: 30px;
    position: absolute;
    left: 280px;
    text-align: center;
    top: 440px;
    color: #60ad65;
    text-shadow: 1px 1px grey;
}

.welcomeheadline {
    font-size: 50px;
    position: absolute;
    font-family: "test";
    color: #2c632c;
    text-shadow: 2px 1px 1px grey;
    left: 200px;
    top: 320px;
}

.loginpath {
    position: absolute;
    right: 320px;
    top: 100px;
    font-size: 30px;
}

.loginpath:visited {
    color: black;
}

.loginpath:hover {
    color: #60ad65;
    text-shadow: none;
}
.loginpath:before {
    color: black;
}

.registerpath {
    position: absolute;
    right: 138px;
    top: 100px;
    font-size: 30px;
}

.registerpath:visited {
    color: black;
}

.registerpath:hover {
    color: #60ad65;
    text-shadow: none;
}

.registerpath:before {
    color: black;
}

/* Login Component ----------------------------------------------- */

.loginform {
    font-family: "MenschWF";
    position: absolute;
    left: 280px;
    top: 420px;
    text-align: center;
    color: #2c632c;
}

.logintext {
    font-family: "Test";
    text-shadow: 1px 1px 1px grey;
    color: #2c632c;
    font-size: 30px;
}

#email {
    font-size: 15px;
    height: 20px;
    width: 200px;
    font-family: "Luminari";
    position: relative;
    left: 30px;
}

#password {
    height: 20px;
    width: 200px;
    font-family: "Luminari";
    position: relative;
    left: 10px;
}

.pwlabel {
    font-size: 25px;
}

.emaillabel {
    font-size: 25px;
    position: relative;
}

.notregistered {
    font-size: 30px;
}

.forgottenpw {
    font-size: 30px;
}

#registerhere:visited {
    color: #c697a1;
}

#registerhere:hover {
    color: #60ad65;
    text-shadow: none;
}

#registerhere:before {
    color: #c697a1;
}

.resethere:visited {
    color: #c697a1;
}

.resethere:hover {
    color: #60ad65;
    text-shadow: none;
}

.resethere:before {
    color: #c697a1;
}

.loginbutton {
    font-family: "Mensch";
    position: absolute;
    left: 330px;
    top: 65px;
    display: inline-block;
    margin: 0.75rem;
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 0.1875rem;
    outline: none;
    background-color: #c697a1;
    color: white;
    font-family: inherit;
    font-size: 20px;
    font-weight: 300;
    line-height: 1.5rem;
    text-decoration: none;
    text-align: center;
    transition: all 150ms ease-out;
}
.loginbutton:focus,
.button:hover {
    background-color: #c697a1;
    box-shadow: 0 0 0 0.1875rem white, 0 0 0 0.375rem #c697a1;
}
.loginbutton:active {
    background-color: #c697a1;
    box-shadow: 0 0 0 0.1875rem #c697a1, 0 0 0 0.375rem #c697a1;
    transition-duration: 75ms;
}
.loginbutton.is-outlined {
    border: 0.1875rem solid #c697a1;
    background-color: transparent;
    color: #c697a1;
}
.loginbutton.is-outlined:focus,
.button.is-outlined:hover {
    border-color: #c697a1;
    color: #c697a1;
}
.loginbutton.is-outlined:active {
    border-color: #c697a1;
    color: #c697a1;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

/* ResetPw Component --------------------------------------------- */

.resetpwbutton {
    font-family: "Mensch";
    position: absolute;
    left: 75px;
    top: 30px;
    display: inline-block;
    margin: 0.75rem;
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 0.1875rem;
    outline: none;
    background-color: #c697a1;
    color: white;
    font-family: inherit;
    font-size: 20px;
    font-weight: 300;
    line-height: 1.5rem;
    text-decoration: none;
    text-align: center;
    transition: all 150ms ease-out;
}
.resetpwbutton:focus,
.resetpwbutton:hover {
    background-color: #c697a1;
    box-shadow: 0 0 0 0.1875rem white, 0 0 0 0.375rem #c697a1;
}
.resetpwbutton:active {
    background-color: #c697a1;
    box-shadow: 0 0 0 0.1875rem #c697a1, 0 0 0 0.375rem #c697a1;
    transition-duration: 75ms;
}
.resetpwbutton.is-outlined {
    border: 0.1875rem solid #c697a1;
    background-color: transparent;
    color: #c697a1;
}
.resetpwbutton.is-outlined:focus,
.resetpwbutton.is-outlined:hover {
    border-color: #c697a1;
    color: #c697a1;
}
.resetpwbutton.is-outlined:active {
    border-color: #c697a1;
    color: #c697a1;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

.mamadiv {
    width: 500px;
}

.pwresetform {
    text-align: center;
    height: 30px;
    width: 300px;
    position: absolute;
    left: 310px;
    top: 540px;
}

.requestpwcode {
    position: absolute;
    text-align: center;
    left: 250px;
    top: 450px;
    height: 100px;
    width: 500px;
}

.resetmaillabel {
    font-size: 25px;
}

.resetmailinput {
    height: 27px;
    position: relative;
    left: 5px;
    width: 200px;
    bottom: 3px;
}

.insertpwcode {
    text-align: center;
    height: 30px;
    width: 300px;
    position: absolute;
    left: 320px;
    top: 450px;
}

.secretCode {
    font-size: 25px;
}

.newPassword {
    font-size: 25px;
}

.inputSecretCode {
    height: 25px;
    width: 200px;
    position: relative;
    left: 21px;
    bottom: 3px;
}

.inputNewPassword {
    height: 25px;
    width: 200px;
    position: relative;
    left: 5px;
    bottom: 3px;
}

.resetCodeForm {
    width: 500px;
    text-align: start;
}

.createNewButton {
    font-family: "Mensch";
    position: absolute;
    left: 10px;
    top: 170px;
    display: inline-block;
    margin: 0.75rem;
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 0.1875rem;
    outline: none;
    background-color: #c697a1;
    color: white;
    font-family: inherit;
    font-size: 20px;
    font-weight: 300;
    line-height: 1.5rem;
    text-decoration: none;
    text-align: center;
    transition: all 150ms ease-out;
}
.createNewButton:focus,
.createNewButton:hover {
    background-color: #c697a1;
    box-shadow: 0 0 0 0.1875rem white, 0 0 0 0.375rem #c697a1;
}
.createNewButton:active {
    background-color: #c697a1;
    box-shadow: 0 0 0 0.1875rem #c697a1, 0 0 0 0.375rem #c697a1;
    transition-duration: 75ms;
}
.createNewButton.is-outlined {
    border: 0.1875rem solid #c697a1;
    background-color: transparent;
    color: #c697a1;
}
.createNewButton.is-outlined:focus,
.createNewButtonutton.is-outlined:hover {
    border-color: #c697a1;
    color: #c697a1;
}
.createNewButton.is-outlined:active {
    border-color: #c697a1;
    color: #c697a1;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

.resetWorked {
    position: absolute;
    top: 430px;
    left: 230px;
}

#resetWorkedText {
    font-family: "Test";
    text-shadow: 1px 1px 1px grey;
    text-align: center;
    font-size: 25px;
}

.resetWorkedLinkText {
    font-size: 30px;
}

#resetWorkedLink {
    font-size: 20px;
    font-family: "MenschWF";
    color: #c697a1;
    position: absolute;
    right: 250px;
}

#resetWorkedLink:hover {
    font-size: 20px;
    font-family: "MenschWF";
    text-align: center;
    color: #60ad65;
}

#resetWorkedLink:visited:hover {
    font-size: 20px;
    font-family: "MenschWF";
    text-align: center;
    color: #60ad65;
}

#resetWorkedLink:visited {
    font-size: 20px;
    font-family: "MenschWF";
    text-align: center;
    color: #c697a1;
}

/* Register Component -------------------------------------------- */

.registerform {
    text-align: center;
    height: 200px;
    width: 500px;
    position: absolute;
    left: 200px;
    top: 420px;
}

.registertext {
    font-size: 30px;
    font-family: "Test";
    text-shadow: 1px 1px 1px grey;
}

.registerbutton {
    font-family: "Mensch";
    position: absolute;
    left: 420px;
    top: 85px;
    display: inline-block;
    margin: 0.75rem;
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 0.1875rem;
    outline: none;
    background-color: #c697a1;
    color: white;
    font-family: inherit;
    font-size: 20px;
    font-weight: 300;
    line-height: 1.5rem;
    text-decoration: none;
    text-align: center;
    transition: all 150ms ease-out;
}
.registerbutton:focus,
.registerbutton:hover {
    background-color: #c697a1;
    box-shadow: 0 0 0 0.1875rem white, 0 0 0 0.375rem #c697a1;
}
.registerbutton:active {
    background-color: #c697a1;
    box-shadow: 0 0 0 0.1875rem #c697a1, 0 0 0 0.375rem #c697a1;
    transition-duration: 75ms;
}
.registerbutton.is-outlined {
    border: 0.1875rem solid #c697a1;
    background-color: transparent;
    color: #c697a1;
}
.registerbutton.is-outlined:focus,
.registerbuttonutton.is-outlined:hover {
    border-color: #c697a1;
    color: #c697a1;
}
.registerbutton.is-outlined:active {
    border-color: #c697a1;
    color: #c697a1;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

.firstnamelabel {
    font-size: 25px;
}

.lastnamelabel {
    font-size: 25px;
}

#lastname {
    height: 20px;
    width: 200px;
    position: relative;
    left: 10px;
    bottom: 5px;
}

#firstname {
    height: 20px;
    width: 200px;
    position: relative;
    left: 6px;
    bottom: 5px;
}

#registeremailinput {
    height: 20px;
    width: 200px;
    position: relative;
    bottom: 5px;
    left: 29px;
}

#registerpasswordinput {
    height: 20px;
    width: 200px;
    position: relative;
    bottom: 5px;
    left: 9px;
}

.alreadyRegistered {
    font-size: 30px;
    position: absolute;
    top: 196px;
    right: 120px;
}

.loginpathreg {
    font-size: 20px;
    position: relative;
    bottom: 8px;
}

.loginpathreg:visited {
    color: #c697a1;
    text-shadow: none;
}

.loginpathreg:hover {
    color: #60ad65;
    text-shadow: none;
}

.loginpathreg:before {
    color: #c697a1;
}

/* ProfilePic Component -------------------------------------------- */

.homeText {
    font-family: "Test";
    font-size: 120px;
    position: absolute;
    left: 390px;
    top: 50px;
    width: 200px;
    color: black;
    text-shadow: 2px 1px 1px grey;
}

.appProfilePic {
    position: absolute;
    left: 120px;
    top: 80px;
}

.appProfilePic img {
    height: 250px;
    width: 200px;
    border: 5px solid #302523;
    box-shadow: 2px 2px 2px white;
    border-radius: 10%;
}

.app {
    background-image: url("/Landingpage_2.png");
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    width: 100vw;
}

.app .logo {
    position: absolute;
    top: 300px;
    left: 700px;
}

/* Menu Component -------------------------------------------- */

.menu {
    font-family: "Mastina";
    font-size: 50px;
    position: absolute;
    left: 50px;
    top: 220px;
    text-align: center;
    text-shadow: none;
    font-weight: bold;
    width: 200px;
    height: 300px;
    text-shadow: 1px 1px 1px grey;
}

.menu a:link,
a:visited {
    text-decoration: none;
}

#searchLink:hover {
    color: green;
}
#seeFriendsLink:hover {
    color: green;
}
#plantiFeedLink:hover {
    color: green;
}
#editProfileLink:hover {
    color: green;
}

#searchLink:visited {
    color: black;
}
#seeFriendsLink:visited {
    color: black;
}
#plantiFeedLink:visited {
    color: black;
}
#editProfileLink:visited {
    color: black;
}

#searchLink:visited:hover {
    color: green;
}
#seeFriendsLink:visited:hover {
    color: green;
}
#plantiFeedLink:visited:hover {
    color: green;
}
#editProfileLink:visited:hover {
    color: green;
}

.uploader {
    position: absolute;
    top: 255px;
    left: 10px;
    font-family: "MenschWF";
}

.uploaderText {
    font-size: 20px;
    font-family: "MenschWF";
}

#closeUploader {
    position: absolute;
    left: 200px;
    font-family: "MenschWF";
    top: 3px;
}
#closeUploader:hover {
    color: green;
}

.uploaderButton {
    font-family: "Mensch";
    position: absolute;
    left: 30px;
    top: 40px;
    display: inline-block;
    margin: 0.75rem;
    padding: 0.6rem 1rem;
    border: none;
    border-radius: 0.1875rem;
    outline: none;
    background-color: #c697a1;
    color: white;
    font-family: inherit;
    font-size: 15px;
    font-weight: 300;
    text-decoration: none;
    text-align: center;
    transition: all 150ms ease-out;
}
.uploaderButton:focus,
.uploaderButton:hover {
    background-color: #c697a1;
    box-shadow: 0 0 0 0.1875rem white, 0 0 0 0.375rem #c697a1;
}
.uploaderButton:active {
    background-color: #c697a1;
    box-shadow: 0 0 0 0.1875rem #c697a1, 0 0 0 0.375rem #c697a1;
    transition-duration: 75ms;
}
.uploaderButton.is-outlined {
    border: 0.1875rem solid #c697a1;
    background-color: transparent;
    color: #c697a1;
}
.uploaderButton.is-outlined:focus,
.uploaderButtonutton.is-outlined:hover {
    border-color: #c697a1;
    color: #c697a1;
}
.uploaderButton.is-outlined:active {
    border-color: #c697a1;
    color: #c697a1;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Search Component -------------------------------------------- */

.searchPlanti {
    position: absolute;
    left: 185px;
    top: 550px;
    font-size: 35px;
}

.plantiSearch {
    position: relative;
    left: 200px;
    top: 600px;
    width: 200px;
    height: 30px;
}

.linkHomeSearch {
    position: absolute;
    left: 50px;
    top: 300px;
    font-size: 35px;
}

.linkHomeSearch:hover {
    color: green;
}

.linkHomeSearch:visited {
    color: black;
}

.linkHomeSearch:visited:hover {
    color: green;
}

#searchResults {
    position: absolute;
    left: 220px;
    top: 640px;
    font-style: 30px;
    width: 200px;
}

#searchError {
    position: relative;
    left: 210px;
    top: 630px;
    font-style: 30px;
    width: 200px;
}

.searchHeading {
    font-size: 80px;
    position: relative;
    left: 218px;
    top: 40px;
    width: 200px;
}

/* Profile Component -------------------------------------------- */

.app .profile {
    background-image: url("/Page_3.png");
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    width: 100vw;
    font-family: "MenschWF";
    font-size: 20px;
}

.bioButtonOne {
    font-family: "The_Bloom_Pen";
    display: block;
    outline: none;
    border: none;
    background-color: var(--light);
    width: 300px;
    height: 30px;
    border-radius: 30px;
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--text);
    background-size: 100% 100%;
    box-shadow: 0 0 0 7px var(--light) inset;
    margin-bottom: 15px;
    position: absolute;
    top: 550px;
    left: 160px;
}

.bioButtonOne:hover {
    font-family: "The_Bloom_Pen";
    background-image: linear-gradient(
        145deg,
        transparent 10%,
        var(--dark) 10% 20%,
        transparent 20% 30%,
        var(--dark) 30% 40%,
        transparent 40% 50%,
        var(--dark) 50% 60%,
        transparent 60% 70%,
        var(--dark) 70% 80%,
        transparent 80% 90%,
        var(--dark) 90% 100%
    );
    animation: background 3s linear infinite;
}

.bioButtonTwo {
    font-family: "The_Bloom_Pen";
    display: block;
    outline: none;
    border: none;
    background-color: var(--light);
    width: 300px;
    height: 30px;
    border-radius: 30px;
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--text);
    background-size: 100% 100%;
    box-shadow: 0 0 0 7px var(--light) inset;
    margin-bottom: 15px;
    position: absolute;
    top: 550px;
    left: 160px;
}

.bioButtonTwo:hover {
    font-family: "The_Bloom_Pen";
    background-image: linear-gradient(
        145deg,
        transparent 10%,
        var(--dark) 10% 20%,
        transparent 20% 30%,
        var(--dark) 30% 40%,
        transparent 40% 50%,
        var(--dark) 50% 60%,
        transparent 60% 70%,
        var(--dark) 70% 80%,
        transparent 80% 90%,
        var(--dark) 90% 100%
    );
    animation: background 3s linear infinite;
}

.textarea {
    position: absolute;
    top: 600px;
    left: 160px;
    width: 300px;
    height: 150px;
}

.closeBio {
    position: absolute;
    top: 600px;
    left: 150px;
}

.bioResult {
    position: absolute;
    top: 620px;
    left: 160px;
    width: 300px;
    text-align: center;
    font-size: 30px;
}

/* Chat Component -------------------------------------------- */

.chat {
    background-image: url("/chat_background.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 1920px;
    height: 1080px;
}

.chatPic {
    width: 100px;
    height: 100px;
    float: right;
}

.chatMessage {
    float: right;
}

.chatPerson {
    float: right;
}

/* Other people -------------------------------------------- */

.friendsPage {
    background-image: url("/Page_3.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 1920px;
    height: 1080px;
}

.wallabyPicture {
    width: 100px;
    height: 100px;
}

.friendPicture {
    width: 100px;
    height: 100px;
    float: right;
}

.friendList {
    float: right;
}

.otherUser .profilePic {
    position: absolute;
    right: 10px;
}

.otherUser .profilePic {
    height: 100px;
    width: 100px;
    border: 5px solid black;
    border-radius: 50px;
}

/* Plant finder  -------------------------------------------- */

.plantFider {
    background-image: url("/Page_4.png");
    background-size: contain;
    background-repeat: no-repeat;
}
