/* Welcome Component ------------------------------------------------- */

@font-face {
    font-family: "The_Bloom_Pen";
    src: url("/The_Bloom_Pen.otf");
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    cursor: url("/cursor(4).cur"), auto;
}

.logo {
    background-image: url("/Logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 300px;
    width: 300px;
}

.welcome {
    background-image: url("/Landingpage_V1920x1080.png");
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    width: 100vw;
    font-family: "The_Bloom_Pen";
    text-shadow: 1px 1px 1px #7a7a7a;
    font-size: 20px;
}

.welcometext {
    height: 500px;
    width: 500px;
    font-size: 30px;
    position: absolute;
    right: 130px;
    text-align: center;
    top: 260px;
}

.welcomeheadline {
    font-size: 50px;
    position: absolute;
    right: 100px;
    top: 170px;
}

.loginpath {
    position: absolute;
    right: 300px;
    top: 100px;
    font-size: 30px;
}

.loginpath:visited {
    color: black;
}

.loginpath:hover {
    color: #71a03f;
    text-shadow: none;
}
.loginpath:before {
    color: black;
}

.registerpath {
    position: absolute;
    right: 100px;
    top: 100px;
    font-size: 30px;
}

.registerpath:visited {
    color: black;
}

.registerpath:hover {
    color: #71a03f;
    text-shadow: none;
}

.registerpath:before {
    color: black;
}

/* Login Component ----------------------------------------------- */

.loginform {
    position: absolute;
    right: 100px;
    top: 250px;
    text-align: center;
}

#email {
    font-size: 15px;
    height: 20px;
    width: 200px;
    font-family: "Luminari";
    position: relative;
    left: 30px;
}

#password {
    height: 20px;
    width: 200px;
    font-family: "Luminari";
    position: relative;
    left: 10px;
}

.pwlabel {
    font-size: 25px;
}

.emaillabel {
    font-size: 25px;
    position: relative;
}

.notregistered {
    font-size: 30px;
}

.forgottenpw {
    font-size: 30px;
}

#registerhere:visited {
    color: black;
}

#registerhere:hover {
    color: #71a03f;
    text-shadow: none;
}

#registerhere:before {
    color: black;
}

.resethere:visited {
    color: black;
}

.resethere:hover {
    color: #71a03f;
    text-shadow: none;
}

.resethere:before {
    color: black;
}

:root {
    --background: #e5ffb3;
    --background-accent: #dbf8a3;
    --background-accent-2: #bde66e;
    --light: #92de34c5;
    --dark: #71a03f;
    --text: black;
}

.loginbutton {
    font-family: "The_Bloom_Pen";
    display: block;
    outline: none;
    border: none;
    background-color: var(--light);
    width: 100px;
    height: 30px;
    border-radius: 30px;
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--text);
    background-size: 100% 100%;
    box-shadow: 0 0 0 7px var(--light) inset;
    margin-bottom: 15px;
    position: relative;
    left: 200px;
    top: 20px;
}

.loginbutton:hover {
    font-family: "The_Bloom_Pen";
    background-image: linear-gradient(
        145deg,
        transparent 10%,
        var(--dark) 10% 20%,
        transparent 20% 30%,
        var(--dark) 30% 40%,
        transparent 40% 50%,
        var(--dark) 50% 60%,
        transparent 60% 70%,
        var(--dark) 70% 80%,
        transparent 80% 90%,
        var(--dark) 90% 100%
    );
    animation: background 3s linear infinite;
}

@keyframes background {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 400px 0;
    }
}

/* ResetPw Component --------------------------------------------- */

.resetpwbutton {
    font-family: "The_Bloom_Pen";
    display: block;
    outline: none;
    border: none;
    background-color: var(--light);
    width: 300px;
    height: 30px;
    border-radius: 30px;
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--text);
    background-size: 100% 100%;
    box-shadow: 0 0 0 7px var(--light) inset;
    margin-bottom: 15px;
    position: relative;
    left: 20px;
    top: 20px;
}

.resetpwbutton:hover {
    font-family: "The_Bloom_Pen";
    background-image: linear-gradient(
        145deg,
        transparent 10%,
        var(--dark) 10% 20%,
        transparent 20% 30%,
        var(--dark) 30% 40%,
        transparent 40% 50%,
        var(--dark) 50% 60%,
        transparent 60% 70%,
        var(--dark) 70% 80%,
        transparent 80% 90%,
        var(--dark) 90% 100%
    );
    animation: background 3s linear infinite;
}

#pwresetform {
    text-align: center;
    height: 30px;
    width: 300px;
    position: absolute;
    right: 280px;
    top: 400px;
}

.requestpwcode {
    position: absolute;
    text-align: center;
    right: 150px;
    top: 250px;
    height: 100px;
    width: 500px;
}

.resetmaillabel {
    font-size: 25px;
    position: realtive;
    right: 530px;
    top: 370px;
}

.resetmailinput {
    position: relative;
}

.insertpwcode {
    text-align: center;
    height: 30px;
    width: 300px;
    position: absolute;
    right: 280px;
    top: 250px;
}

/* Register Component -------------------------------------------- */

.registerform {
    text-align: center;
    height: 200px;
    width: 500px;
    position: absolute;
    right: 120px;
    top: 270px;
}

.registertext {
    font-size: 35px;
}

.registerbutton {
    font-family: "The_Bloom_Pen";
    display: block;
    outline: none;
    border: none;
    background-color: var(--light);
    width: 300px;
    height: 30px;
    border-radius: 30px;
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--text);
    background-size: 100% 100%;
    box-shadow: 0 0 0 7px var(--light) inset;
    margin-bottom: 15px;
    position: relative;
    left: 100px;
    top: 20px;
}

.registerbutton:hover {
    font-family: "The_Bloom_Pen";
    background-image: linear-gradient(
        145deg,
        transparent 10%,
        var(--dark) 10% 20%,
        transparent 20% 30%,
        var(--dark) 30% 40%,
        transparent 40% 50%,
        var(--dark) 50% 60%,
        transparent 60% 70%,
        var(--dark) 70% 80%,
        transparent 80% 90%,
        var(--dark) 90% 100%
    );
    animation: background 3s linear infinite;
}

.firstnamelabel {
    font-size: 25px;
}

.lastnamelabel {
    font-size: 25px;
}

#lastname {
    height: 20px;
    width: 200px;
    position: relative;
    left: 10px;
}

#firstname {
    height: 20px;
    width: 200px;
    position: relative;
    left: 5px;
}

.alreadyRegistered {
    font-size: 30px;
}

.loginpathreg {
    font-size: 22px;
}

.loginpathreg:visited {
    color: black;
    text-shadow: none;
}

.loginpathreg:hover {
    color: #71a03f;
    text-shadow: none;
}

.loginpathreg:before {
    color: black;
}

/* App Component ------------------------------------------------- */

/* ProfilePic Component -------------------------------------------- */

.homeText {
    font-size: 90px;
    position: relative;
    left: 218px;
    top: 40px;
    width: 200px;
}

.appProfilePic {
    position: absolute;
    left: 160px;
    top: 150px;
}

.appProfilePic img {
    height: 370px;
    width: 300px;
    border: 5px solid black;
    border-radius: 50px;
}

.app {
    background-image: url("/Landingpage_App.png");
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    width: 100vw;
    font-family: "The_Bloom_Pen";
    text-shadow: 1px 1px 1px #7a7a7a;
}

/* Menu Component -------------------------------------------- */

.menu {
    font-size: 35px;
    position: absolute;
    left: 32px;
    top: 500px;
    text-align: center;
}

#searchLink:hover {
    color: green;
}
#seeFriendsLink:hover {
    color: green;
}
#plantiFeedLink:hover {
    color: green;
}
#editProfileLink:hover {
    color: green;
}

#searchLink:visited {
    color: black;
}
#seeFriendsLink:visited {
    color: black;
}
#plantiFeedLink:visited {
    color: black;
}
#editProfileLink:visited {
    color: black;
}

#searchLink:visited:hover {
    color: green;
}
#seeFriendsLink:visited:hover {
    color: green;
}
#plantiFeedLink:visited:hover {
    color: green;
}
#editProfileLink:visited:hover {
    color: green;
}

/* Search Component -------------------------------------------- */

.searchPlanti {
    position: absolute;
    left: 185px;
    top: 550px;
    font-size: 35px;
}

.plantiSearch {
    position: relative;
    left: 200px;
    top: 600px;
    width: 200px;
    height: 30px;
}

.linkHomeSearch {
    position: absolute;
    left: 50px;
    top: 300px;
    font-size: 35px;
}

.linkHomeSearch:hover {
    color: green;
}

.linkHomeSearch:visited {
    color: black;
}

.linkHomeSearch:visited:hover {
    color: green;
}

#searchResults {
    position: absolute;
    left: 220px;
    top: 640px;
    font-style: 30px;
    width: 200px;
}

#searchError {
    position: relative;
    left: 210px;
    top: 630px;
    font-style: 30px;
    width: 200px;
}

.searchHeading {
    font-size: 80px;
    position: relative;
    left: 218px;
    top: 40px;
    width: 200px;
}

/* Profile Component -------------------------------------------- */

.bioButtonOne {
    font-family: "The_Bloom_Pen";
    display: block;
    outline: none;
    border: none;
    background-color: var(--light);
    width: 300px;
    height: 30px;
    border-radius: 30px;
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--text);
    background-size: 100% 100%;
    box-shadow: 0 0 0 7px var(--light) inset;
    margin-bottom: 15px;
    position: absolute;
    top: 550px;
    left: 160px;
}

.bioButtonOne:hover {
    font-family: "The_Bloom_Pen";
    background-image: linear-gradient(
        145deg,
        transparent 10%,
        var(--dark) 10% 20%,
        transparent 20% 30%,
        var(--dark) 30% 40%,
        transparent 40% 50%,
        var(--dark) 50% 60%,
        transparent 60% 70%,
        var(--dark) 70% 80%,
        transparent 80% 90%,
        var(--dark) 90% 100%
    );
    animation: background 3s linear infinite;
}

.bioButtonTwo {
    font-family: "The_Bloom_Pen";
    display: block;
    outline: none;
    border: none;
    background-color: var(--light);
    width: 300px;
    height: 30px;
    border-radius: 30px;
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--text);
    background-size: 100% 100%;
    box-shadow: 0 0 0 7px var(--light) inset;
    margin-bottom: 15px;
    position: absolute;
    top: 550px;
    left: 160px;
}

.bioButtonTwo:hover {
    font-family: "The_Bloom_Pen";
    background-image: linear-gradient(
        145deg,
        transparent 10%,
        var(--dark) 10% 20%,
        transparent 20% 30%,
        var(--dark) 30% 40%,
        transparent 40% 50%,
        var(--dark) 50% 60%,
        transparent 60% 70%,
        var(--dark) 70% 80%,
        transparent 80% 90%,
        var(--dark) 90% 100%
    );
    animation: background 3s linear infinite;
}

.textarea {
    position: absolute;
    top: 600px;
    left: 160px;
    width: 300px;
    height: 150px;
}

.closeBio {
    position: absolute;
    top: 600px;
    left: 150px;
}

.bioResult {
    position: absolute;
    top: 620px;
    left: 160px;
    width: 300px;
    text-align: center;
    font-size: 30px;
}

#uploader {
    position: absolute;
    top: 420px;
    left: 500px;
}

.uploaderButton {
    font-family: "The_Bloom_Pen";
    display: block;
    outline: none;
    border: none;
    background-color: var(--light);
    width: 100px;
    height: 30px;
    border-radius: 30px;
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--text);
    background-size: 100% 100%;
    box-shadow: 0 0 0 7px var(--light) inset;
    margin-bottom: 15px;
}

.uploaderButton:hover {
    font-family: "The_Bloom_Pen";
    background-image: linear-gradient(
        145deg,
        transparent 10%,
        var(--dark) 10% 20%,
        transparent 20% 30%,
        var(--dark) 30% 40%,
        transparent 40% 50%,
        var(--dark) 50% 60%,
        transparent 60% 70%,
        var(--dark) 70% 80%,
        transparent 80% 90%,
        var(--dark) 90% 100%
    );
    animation: background 3s linear infinite;
}

.uploaderText {
    font-size: 20px;
}

/* Chat Component -------------------------------------------- */

.chat {
    background-image: url("/chat_background.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 1920px;
    height: 1080px;
}

.chatPic {
    width: 100px;
    height: 100px;
    float: right;
}

.chatMessage {
    float: right;
}

.chatPerson {
    float: right;
}

/* Other people -------------------------------------------- */

.overview {
    background-image: url("/chat_background.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 1920px;
    height: 1080px;
}

.wallabyPicture {
    width: 100px;
    height: 100px;
}

.friendPicture {
    width: 100px;
    height: 100px;
    float: right;
}

.friendList {
    float: right;
}

.otherUser .profilePic {
    position: absolute;
    right: 10px;
}

.otherUser .profilePic {
    height: 100px;
    width: 100px;
    border: 5px solid black;
    border-radius: 50px;
}
