/* Welcome Component ------------------------------------------------- */

@font-face {
    font-family: "The_Bloom_Pen";
    src: url("/The_Bloom_Pen.otf");
}

@font-face {
    font-family: "Belgika-16th";
    src: url("/Belgika-16th.otf");
}

@font-face {
    font-family: "Mensch";
    src: url("/mensch-thin-wf.ttf");
}

@font-face {
    font-family: "Test";
    src: url("/Autumn_in_November.ttf");
}

@font-face {
    font-family: "MenschWF";
    src: url("/mensch-wf.ttf");
}

@font-face {
    font-family: "Mastina";
    src: url("/Masthina.otf");
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    cursor: url("/cursor(4).cur"), auto;
}

.logo {
    background-image: url("/Logo_Green_Mates.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 200px;
    width: 200px;
    position: absolute;
    left: 415px;
    top: 60px;
}

.welcome {
    background-image: url("/Landingpage_1.png");
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    width: 100vw;
    font-family: "MenschWF";
    font-size: 20px;
    color: black;
}

.welcometext {
    height: 500px;
    width: 500px;
    font-size: 30px;
    position: absolute;
    left: 280px;
    text-align: center;
    top: 440px;
    color: black;
    text-shadow: 1px 1px grey;
}

.welcomeheadline {
    font-size: 50px;
    position: absolute;
    font-family: "test";
    color: black;
    text-shadow: 2px 1px 1px grey;
    left: 200px;
    top: 320px;
}

.loginpath {
    position: absolute;
    right: 320px;
    top: 100px;
    font-size: 30px;
}

.loginpath:visited {
    color: black;
}

.loginpath:hover {
    color: #60ad65;
    text-shadow: none;
}
.loginpath:before {
    color: black;
}

.registerpath {
    position: absolute;
    right: 138px;
    top: 100px;
    font-size: 30px;
}

.registerpath:visited {
    color: black;
}

.registerpath:hover {
    color: #60ad65;
    text-shadow: none;
}

.registerpath:before {
    color: black;
}

/* Login Component ----------------------------------------------- */

.loginform {
    font-family: "MenschWF";
    position: absolute;
    left: 280px;
    top: 420px;
    text-align: center;
    color: black;
}

.logintext {
    font-family: "Test";
    text-shadow: 1px 1px 1px grey;
    color: black;
    font-size: 30px;
}

#email {
    font-size: 15px;
    height: 20px;
    width: 200px;
    font-family: "Luminari";
    position: relative;
    left: 30px;
}

#password {
    height: 20px;
    width: 200px;
    font-family: "Luminari";
    position: relative;
    left: 10px;
}

.pwlabel {
    font-size: 25px;
}

.emaillabel {
    font-size: 25px;
    position: relative;
}

.notregistered {
    font-size: 30px;
}

.forgottenpw {
    font-size: 30px;
}

#registerhere:visited {
    color: #c697a1;
}

#registerhere:hover {
    color: #60ad65;
    text-shadow: none;
}

#registerhere:before {
    color: #c697a1;
}

.resethere:visited {
    color: #c697a1;
}

.resethere:hover {
    color: #60ad65;
    text-shadow: none;
}

.resethere:before {
    color: #c697a1;
}

.loginbutton {
    font-family: "Mensch";
    position: absolute;
    left: 330px;
    top: 65px;
    display: inline-block;
    margin: 0.75rem;
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 0.1875rem;
    outline: none;
    background-color: #c697a1;
    color: white;
    font-family: inherit;
    font-size: 20px;
    font-weight: 300;
    line-height: 1.5rem;
    text-decoration: none;
    text-align: center;
    transition: all 150ms ease-out;
}
.loginbutton:focus,
.button:hover {
    background-color: #c697a1;
    box-shadow: 0 0 0 0.1875rem white, 0 0 0 0.375rem #c697a1;
}
.loginbutton:active {
    background-color: #c697a1;
    box-shadow: 0 0 0 0.1875rem #c697a1, 0 0 0 0.375rem #c697a1;
    transition-duration: 75ms;
}
.loginbutton.is-outlined {
    border: 0.1875rem solid #c697a1;
    background-color: transparent;
    color: #c697a1;
}
.loginbutton.is-outlined:focus,
.button.is-outlined:hover {
    border-color: #c697a1;
    color: #c697a1;
}
.loginbutton.is-outlined:active {
    border-color: #c697a1;
    color: #c697a1;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

/* ResetPw Component --------------------------------------------- */

.resetpwbutton {
    font-family: "Mensch";
    position: absolute;
    left: 75px;
    top: 30px;
    display: inline-block;
    margin: 0.75rem;
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 0.1875rem;
    outline: none;
    background-color: #c697a1;
    color: white;
    font-family: inherit;
    font-size: 20px;
    font-weight: 300;
    line-height: 1.5rem;
    text-decoration: none;
    text-align: center;
    transition: all 150ms ease-out;
}
.resetpwbutton:focus,
.resetpwbutton:hover {
    background-color: #c697a1;
    box-shadow: 0 0 0 0.1875rem white, 0 0 0 0.375rem #c697a1;
}
.resetpwbutton:active {
    background-color: #c697a1;
    box-shadow: 0 0 0 0.1875rem #c697a1, 0 0 0 0.375rem #c697a1;
    transition-duration: 75ms;
}
.resetpwbutton.is-outlined {
    border: 0.1875rem solid #c697a1;
    background-color: transparent;
    color: #c697a1;
}
.resetpwbutton.is-outlined:focus,
.resetpwbutton.is-outlined:hover {
    border-color: #c697a1;
    color: #c697a1;
}
.resetpwbutton.is-outlined:active {
    border-color: #c697a1;
    color: #c697a1;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

.mamadiv {
    width: 500px;
}

.pwresetform {
    text-align: center;
    height: 30px;
    width: 300px;
    position: absolute;
    left: 310px;
    top: 540px;
}

.requestpwcode {
    position: absolute;
    text-align: center;
    left: 250px;
    top: 450px;
    height: 100px;
    width: 500px;
}

.resetmaillabel {
    font-size: 25px;
}

.resetmailinput {
    height: 27px;
    position: relative;
    left: 5px;
    width: 200px;
    bottom: 3px;
}

.insertpwcode {
    text-align: center;
    height: 30px;
    width: 300px;
    position: absolute;
    left: 320px;
    top: 450px;
}

.secretCode {
    font-size: 25px;
}

.newPassword {
    font-size: 25px;
}

.inputSecretCode {
    height: 25px;
    width: 200px;
    position: relative;
    left: 21px;
    bottom: 3px;
}

.inputNewPassword {
    height: 25px;
    width: 200px;
    position: relative;
    left: 5px;
    bottom: 3px;
}

.resetCodeForm {
    width: 500px;
    text-align: start;
}

.createNewButton {
    font-family: "Mensch";
    position: absolute;
    left: 10px;
    top: 170px;
    display: inline-block;
    margin: 0.75rem;
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 0.1875rem;
    outline: none;
    background-color: #c697a1;
    color: white;
    font-family: inherit;
    font-size: 20px;
    font-weight: 300;
    line-height: 1.5rem;
    text-decoration: none;
    text-align: center;
    transition: all 150ms ease-out;
}
.createNewButton:focus,
.createNewButton:hover {
    background-color: #c697a1;
    box-shadow: 0 0 0 0.1875rem white, 0 0 0 0.375rem #c697a1;
}
.createNewButton:active {
    background-color: #c697a1;
    box-shadow: 0 0 0 0.1875rem #c697a1, 0 0 0 0.375rem #c697a1;
    transition-duration: 75ms;
}
.createNewButton.is-outlined {
    border: 0.1875rem solid #c697a1;
    background-color: transparent;
    color: #c697a1;
}
.createNewButton.is-outlined:focus,
.createNewButtonutton.is-outlined:hover {
    border-color: #c697a1;
    color: #c697a1;
}
.createNewButton.is-outlined:active {
    border-color: #c697a1;
    color: #c697a1;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

.resetWorked {
    position: absolute;
    top: 430px;
    left: 230px;
}

#resetWorkedText {
    font-family: "Test";
    text-shadow: 1px 1px 1px grey;
    text-align: center;
    font-size: 25px;
}

.resetWorkedLinkText {
    font-size: 30px;
}

#resetWorkedLink {
    font-size: 20px;
    font-family: "MenschWF";
    color: #c697a1;
    position: absolute;
    right: 250px;
}

#resetWorkedLink:hover {
    font-size: 20px;
    font-family: "MenschWF";
    text-align: center;
    color: #60ad65;
}

#resetWorkedLink:visited:hover {
    font-size: 20px;
    font-family: "MenschWF";
    text-align: center;
    color: #60ad65;
}

#resetWorkedLink:visited {
    font-size: 20px;
    font-family: "MenschWF";
    text-align: center;
    color: #c697a1;
}

/* Register Component -------------------------------------------- */

.registerform {
    text-align: center;
    height: 200px;
    width: 500px;
    position: absolute;
    left: 200px;
    top: 420px;
}

.registertext {
    font-size: 30px;
    font-family: "Test";
    text-shadow: 1px 1px 1px grey;
}

.registerbutton {
    font-family: "Mensch";
    position: absolute;
    left: 420px;
    top: 85px;
    display: inline-block;
    margin: 0.75rem;
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 0.1875rem;
    outline: none;
    background-color: #c697a1;
    color: white;
    font-family: inherit;
    font-size: 20px;
    font-weight: 300;
    line-height: 1.5rem;
    text-decoration: none;
    text-align: center;
    transition: all 150ms ease-out;
}
.registerbutton:focus,
.registerbutton:hover {
    background-color: #c697a1;
    box-shadow: 0 0 0 0.1875rem white, 0 0 0 0.375rem #c697a1;
}
.registerbutton:active {
    background-color: #c697a1;
    box-shadow: 0 0 0 0.1875rem #c697a1, 0 0 0 0.375rem #c697a1;
    transition-duration: 75ms;
}
.registerbutton.is-outlined {
    border: 0.1875rem solid #c697a1;
    background-color: transparent;
    color: #c697a1;
}
.registerbutton.is-outlined:focus,
.registerbuttonutton.is-outlined:hover {
    border-color: #c697a1;
    color: #c697a1;
}
.registerbutton.is-outlined:active {
    border-color: #c697a1;
    color: #c697a1;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

.firstnamelabel {
    font-size: 25px;
}

.lastnamelabel {
    font-size: 25px;
}

#lastname {
    height: 20px;
    width: 200px;
    position: relative;
    left: 10px;
    bottom: 5px;
}

#firstname {
    height: 20px;
    width: 200px;
    position: relative;
    left: 6px;
    bottom: 5px;
}

#registeremailinput {
    height: 20px;
    width: 200px;
    position: relative;
    bottom: 5px;
    left: 29px;
}

#registerpasswordinput {
    height: 20px;
    width: 200px;
    position: relative;
    bottom: 5px;
    left: 9px;
}

.alreadyRegistered {
    font-size: 30px;
    position: absolute;
    top: 196px;
    right: 120px;
}

.loginpathreg {
    font-size: 20px;
    position: relative;
    bottom: 8px;
}

.loginpathreg:visited {
    color: #c697a1;
    text-shadow: none;
}

.loginpathreg:hover {
    color: #60ad65;
    text-shadow: none;
}

.loginpathreg:before {
    color: #c697a1;
}

/* ProfilePic Component -------------------------------------------- */

.homeText {
    font-family: "Test";
    font-size: 110px;
    position: absolute;
    left: 390px;
    top: 50px;
    width: 200px;
    color: black;
    text-shadow: 2px 1px 1px grey;
}

.appProfilePic {
    position: absolute;
    left: 120px;
    top: 80px;
}

.appProfilePic img {
    height: 250px;
    width: 200px;
    border: 5px solid #302523;
    box-shadow: 2px 2px 2px white;
    border-radius: 10%;
}

.app {
    background-image: url("/Landingpage_2.png");
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    width: 100vw;
}

.homeText .logo {
    position: absolute;
    top: 270px;
    left: 310px;
}

/* Menu Component -------------------------------------------- */

.menu {
    font-family: "Mastina";
    font-size: 50px;
    position: absolute;
    left: 50px;
    top: 220px;
    text-align: center;
    text-shadow: none;
    font-weight: bold;
    width: 200px;
    height: 300px;
    text-shadow: 1px 1px 1px grey;
}

.menu a:link,
a:visited {
    text-decoration: none;
}

#searchLink:hover {
    color: green;
}
#seeFriendsLink:hover {
    color: green;
}
#plantiFeedLink:hover {
    color: green;
}
#editProfileLink:hover {
    color: green;
}

#searchLink:visited {
    color: black;
}
#seeFriendsLink:visited {
    color: black;
}
#plantiFeedLink:visited {
    color: black;
}
#editProfileLink:visited {
    color: black;
}

#searchLink:visited:hover {
    color: green;
}
#seeFriendsLink:visited:hover {
    color: green;
}
#plantiFeedLink:visited:hover {
    color: green;
}
#editProfileLink:visited:hover {
    color: green;
}

.uploader {
    position: absolute;
    top: 255px;
    left: 10px;
    font-family: "MenschWF";
}

.uploaderText {
    font-size: 20px;
    font-family: "MenschWF";
}

#closeUploader {
    position: absolute;
    left: 200px;
    font-family: "MenschWF";
    top: 3px;
}
#closeUploader:hover {
    color: green;
}

.uploaderButton {
    font-family: "Mensch";
    position: absolute;
    left: 30px;
    top: 40px;
    display: inline-block;
    margin: 0.75rem;
    padding: 0.6rem 1rem;
    border: none;
    border-radius: 0.1875rem;
    outline: none;
    background-color: #c697a1;
    color: white;
    font-family: inherit;
    font-size: 15px;
    font-weight: 300;
    text-decoration: none;
    text-align: center;
    transition: all 150ms ease-out;
}
.uploaderButton:focus,
.uploaderButton:hover {
    background-color: #c697a1;
    box-shadow: 0 0 0 0.1875rem white, 0 0 0 0.375rem #c697a1;
}
.uploaderButton:active {
    background-color: #c697a1;
    box-shadow: 0 0 0 0.1875rem #c697a1, 0 0 0 0.375rem #c697a1;
    transition-duration: 75ms;
}
.uploaderButton.is-outlined {
    border: 0.1875rem solid #c697a1;
    background-color: transparent;
    color: #c697a1;
}
.uploaderButton.is-outlined:focus,
.uploaderButtonutton.is-outlined:hover {
    border-color: #c697a1;
    color: #c697a1;
}
.uploaderButton.is-outlined:active {
    border-color: #c697a1;
    color: #c697a1;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Search Component -------------------------------------------- */

.searchPlanti {
    position: absolute;
    left: 185px;
    top: 550px;
    font-size: 35px;
}

.plantiSearch {
    position: relative;
    left: 200px;
    top: 600px;
    width: 200px;
    height: 30px;
}

.linkHomeSearch {
    position: absolute;
    left: 180px;
    top: 20px;
    font-size: 35px;
}

.linkHomeSearch:hover {
    color: green;
}

.linkHomeSearch:visited {
    color: black;
}

.linkHomeSearch:visited:hover {
    color: green;
}

#searchResults {
    position: absolute;
    left: 220px;
    top: 640px;
    font-style: 30px;
    width: 200px;
}

#searchError {
    position: relative;
    left: 210px;
    top: 630px;
    font-style: 30px;
    width: 200px;
}

.searchHeading {
    font-size: 80px;
    position: relative;
    left: 218px;
    top: 40px;
    width: 200px;
}

/* Profile Component -------------------------------------------- */

.app .profile {
    background-image: url("/Page_3.png");
    background-size: cover;
    background-attachment: fixed;
    height: 1080px;
    width: 1920px;
    font-family: "MenschWF";
    font-size: 20px;
}

.app .profile img {
    height: 600px;
    width: 500px;
    border: 5px solid #302523;
    box-shadow: 2px 2px 2px white;
    border-radius: 10%;
    position: absolute;
    left: 500px;
    top: 180px;
}

.profile h2 {
    font-family: "Test";
    font-size: 70px;
    position: absolute;
    left: 600px;
    top: 40px;
    width: 200px;
    color: black;
    text-shadow: 2px 1px 1px grey;
}

.profile h5 {
    font-family: "Mensch";
    font-size: 20px;
    position: absolute;
    left: 520px;
    top: 790px;
    width: 500px;
    color: #c697a1;
}

.profile h4 {
    font-family: "Mensch";
    font-size: 20px;
    position: absolute;
    left: 600px;
    top: 820px;
    width: 500px;
    color: #c697a1;
}

.profileData {
    font-family: "Mastina";
    text-shadow: 1px 1px 1px grey;
    font-size: 60px;
    position: absolute;
    left: 100px;
    top: 440px;
    text-align: center;
}

.textarea {
    position: absolute;
    top: 680px;
    left: 60px;
    width: 400px;
    height: 350px;
}

.closeBio {
    position: absolute;
    top: 680px;
    left: 50px;
    font-family: "MenschWF";
}

.closeBio:hover {
    position: absolute;
    top: 780px;
    left: 50px;
    font-family: "MenschWF";
    color: green;
}

.bioResult {
    position: absolute;
    top: 700px;
    left: 70px;
    width: 300px;
    text-align: center;
    font-size: 30px;
    color: #c697a1;
}

.bioButtonTwo {
    font-family: "Mensch";
    position: absolute;
    left: 670px;
    top: 850px;
    display: inline-block;
    margin: 0.75rem;
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 0.1875rem;
    outline: none;
    background-color: #c697a1;
    color: white;
    font-family: inherit;
    font-size: 20px;
    font-weight: 300;
    line-height: 1.5rem;
    text-decoration: none;
    text-align: center;
    transition: all 150ms ease-out;
}
.bioButtonTwo:focus,
.bioButtonTwo:hover {
    background-color: #c697a1;
    box-shadow: 0 0 0 0.1875rem white, 0 0 0 0.375rem #c697a1;
}
.bioButtonTwo:active {
    background-color: #c697a1;
    box-shadow: 0 0 0 0.1875rem #c697a1, 0 0 0 0.375rem #c697a1;
    transition-duration: 75ms;
}
.bioButtonTwo.is-outlined {
    border: 0.1875rem solid #c697a1;
    background-color: transparent;
    color: #c697a1;
}
.bioButtonTwo.is-outlined:focus,
.bioButtonTwo.is-outlined:hover {
    border-color: #c697a1;
    color: #c697a1;
}
.bioButtonTwo.is-outlined:active {
    border-color: #c697a1;
    color: #c697a1;
}

.bioButtonOne {
    font-family: "Mensch";
    position: absolute;
    left: 660px;
    top: 850px;
    display: inline-block;
    margin: 0.75rem;
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 0.1875rem;
    outline: none;
    background-color: #c697a1;
    color: white;
    font-family: inherit;
    font-size: 20px;
    font-weight: 300;
    line-height: 1.5rem;
    text-decoration: none;
    text-align: center;
    transition: all 150ms ease-out;
}
.bioButtonOne:focus,
.bioButtonOne:hover {
    background-color: #c697a1;
    box-shadow: 0 0 0 0.1875rem white, 0 0 0 0.375rem #c697a1;
}
.bioButtonOne:active {
    background-color: #c697a1;
    box-shadow: 0 0 0 0.1875rem #c697a1, 0 0 0 0.375rem #c697a1;
    transition-duration: 75ms;
}
.bioButtonOne.is-outlined {
    border: 0.1875rem solid #c697a1;
    background-color: transparent;
    color: #c697a1;
}
.bioButtonOne.is-outlined:focus,
.bioButtonOne.is-outlined:hover {
    border-color: #c697a1;
    color: #c697a1;
}
.bioButtonOne.is-outlined:active {
    border-color: #c697a1;
    color: #c697a1;
}
/* Chat Component -------------------------------------------- */

.chatComponent {
    background-image: url("/Page_1.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 1920px;
    height: 1080px;
}

.chatPic {
    width: 100px;
    height: 100px;
}

.chat h1 {
    font-family: "Test";
    font-size: 70px;
    position: absolute;
    left: 620px;
    top: 40px;
    width: 200px;
    color: black;
    text-shadow: 2px 1px 1px grey;
}
.chat h2 {
    font-family: "MenschWF";
    font-size: 30px;
    position: absolute;
    left: 400px;
    top: 210px;
    width: 200px;
    color: #c697a1;
    text-align: center;
}

.chat .linkHomeSearch {
    font-family: "MenschWF";
    position: absolute;
    left: 180px;
    top: 20px;
    font-size: 35px;
}

.chat input {
    position: absolute;
    left: 630px;
    top: 200px;
    height: 150px;
    width: 250px;
}

.chatComponent .logo {
    position: absolute;
    left: 950px;
    top: 60px;
}

.messageBox {
    position: absolute;
    left: 110px;
    top: 400px;
    height: 600px;
    overflow: auto;
    width: 800px;
}

.Message {
    margin: 10px;
    width: 400px;
}

.chatPerson {
    font-family: "MenschWF";
    color: black;
}

.chatMessage {
    font-family: "MenschWF";
}

#chatButton {
    font-family: "MenschWF";
    position: absolute;
    left: 900px;
    top: 290px;
    display: inline-block;
    margin: 0.75rem;
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 0.1875rem;
    outline: none;
    background-color: #c697a1;
    color: white;
    font-size: 20px;
    font-weight: 300;
    line-height: 1.5rem;
    text-decoration: none;
    text-align: center;
    transition: all 150ms ease-out;
}
#chatButton:focus,
#chatButton:hover {
    background-color: #c697a1;
    box-shadow: 0 0 0 0.1875rem white, 0 0 0 0.375rem #c697a1;
}
#chatButton:active {
    background-color: #c697a1;
    box-shadow: 0 0 0 0.1875rem #c697a1, 0 0 0 0.375rem #c697a1;
    transition-duration: 75ms;
}
#chatButton.is-outlined {
    border: 0.1875rem solid #c697a1;
    background-color: transparent;
    color: #c697a1;
}
#chatButton.is-outlined:focus,
#chatButton.is-outlined:hover {
    border-color: #c697a1;
    color: #c697a1;
}
#chatButton.is-outlined:active {
    border-color: #c697a1;
    color: #c697a1;
}
/* friends page component -------------------------------------------- */

.friendsPage {
    background-image: url("/Page_4.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 1920px;
    height: 1080px;
}

.friendsPage .linkHomeSearch {
    position: absolute;
    left: 180px;
    top: 20px;
    font-size: 35px;
    font-family: "MenschWF";
}

.friendsPage h1 {
    font-family: "MenschWF";
    font-size: 30px;
    position: absolute;
    left: 400px;
    top: 210px;
    width: 400px;
    color: #c697a1;
    text-align: center;
}

.friendsPage h3 {
    font-family: "Test";
    font-size: 70px;
    position: absolute;
    left: 430px;
    top: 50px;
    width: 200px;
    color: black;
    text-shadow: 2px 1px 1px grey;
}

.friendsPage h2 {
    font-family: "MenschWF";
}

.friendsPage .logo {
    position: absolute;
    left: 850px;
    top: 60px;
}

.wallabyPicture {
    width: 100px;
    height: 100px;
}

.friendPicture {
    width: 100px;
    height: 100px;
    float: right;
}

.friendList {
    float: right;
}

/* Other people search  -------------------------------------------- */

.searchUser .linkHomeSearch {
    font-family: "MenschWF";
    position: absolute;
    left: 180px;
    top: 20px;
    font-size: 35px;
}

.searchUser .linkHomeSearch:hover {
    color: green;
}

.searcgUser .linkHomeSearch:visited {
    color: black;
}

.searchUser .linkHomeSearch:visited:hover {
    color: green;
}

.searchUser {
    background-image: url("/Page_2.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 1920px;
    height: 1080px;
}

.searchUser label {
    position: absolute;
    font-family: "MenschWF";
    font-size: 20px;
    position: absolute;
    top: 500px;
    left: 10px;
}

.searchUser input {
    position: absolute;
    top: 501px;
    left: 300px;
}

.searchResult:hover {
    color: green;
}

.searchResult:before {
    color: black;
}

.searchResult:visited {
    color: black;
}

.searchResult {
    position: absolute;
    top: 550px;
    left: 100px;
    font-family: "MenschWf";
    font-size: 15px;
}

.otherUser {
    background-image: url("/Page_2.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 1920px;
    height: 1080px;
}

#otherUserProfile {
    font-family: "Masthina";
    font-size: 70px;
    position: absolute;
    left: 530px;
    top: 60px;
    width: 600px;
    color: black;
    text-shadow: 1px 1px 1px grey;
    font-weight: bold;
}

.otherUser .profilePic {
    height: 600px;
    width: 500px;
    border: 5px solid #302523;
    box-shadow: 2px 2px 2px white;
    border-radius: 10%;
    position: absolute;
    left: 500px;
    top: 180px;
}

.otherUser button {
    font-family: "MenschWF";
    position: absolute;
    left: 670px;
    top: 790px;
    display: inline-block;
    margin: 0.75rem;
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 0.1875rem;
    outline: none;
    background-color: #c697a1;
    color: white;
    font-size: 20px;
    font-weight: 300;
    line-height: 1.5rem;
    text-decoration: none;
    text-align: center;
    transition: all 150ms ease-out;
}
.otherUser button:focus,
.otherUser button:hover {
    background-color: #c697a1;
    box-shadow: 0 0 0 0.1875rem white, 0 0 0 0.375rem #c697a1;
}
.otherUser button:active {
    background-color: #c697a1;
    box-shadow: 0 0 0 0.1875rem #c697a1, 0 0 0 0.375rem #c697a1;
    transition-duration: 75ms;
}
.otherUser button.is-outlined {
    border: 0.1875rem solid #c697a1;
    background-color: transparent;
    color: #c697a1;
}
.otherUser button:focus,
.otherUser button:hover {
    border-color: #c697a1;
    color: #c697a1;
}
.otherUser button.is-outlined:active {
    border-color: #c697a1;
    color: #c697a1;
}

.otherUser .linkHomeSearch {
    font-family: "MenschWF";
    position: absolute;
    left: 180px;
    top: 20px;
    font-size: 35px;
}

.otherUser .linkHomeSearch:hover {
    color: green;
}

.otherUser .linkHomeSearch:visited {
    color: black;
}

.otherUser .linkHomeSearch:visited:hover {
    color: green;
}

/* Plant finder  -------------------------------------------- */

.findPlants {
    background-image: url("/Page_6.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 1920px;
    height: 1080px;
}

.findPlants .logo {
    position: absolute;
    left: 1050px;
    top: 60px;
}

.findPlants h1 {
    font-family: "Masthina";
    font-size: 100px;
    position: absolute;
    left: 530px;
    top: 60px;
    width: 600px;
    color: black;
    text-shadow: 1px 1px 1px grey;
    font-weight: bold;
}

.findPlants h2 {
    font-family: "MenschWF";
    font-size: 30px;
    position: absolute;
    left: 350px;
    top: 210px;
    width: 300px;
    color: #c697a1;
    text-align: center;
}

.findPlants .linkHomeSearch {
    position: absolute;
    left: 180px;
    top: 20px;
    font-size: 35px;
    font-family: "MenschWF";
}

.findPlants input {
    position: absolute;
    left: 680px;
    top: 230px;
    height: 30px;
    width: 250px;
}

#pleaseSearch {
    position: absolute;
    left: 710px;
    top: 210px;
    height: 30px;
    width: 250px;
    font-size: 15px;
    font-family: "MenschWF";
    color: #c697a1;
}

.plantFinder button {
    font-family: "MenschWF";
    position: absolute;
    left: 740px;
    top: 265px;
    display: inline-block;
    margin: 0.75rem;
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 0.1875rem;
    outline: none;
    background-color: #c697a1;
    color: white;
    font-size: 20px;
    font-weight: 300;
    line-height: 1.5rem;
    text-decoration: none;
    text-align: center;
    transition: all 150ms ease-out;
}

.plantFinder button:focus,
.plantFinder button:hover {
    background-color: #c697a1;
    box-shadow: 0 0 0 0.1875rem white, 0 0 0 0.375rem #c697a1;
}
.plantFinder button:active {
    background-color: #c697a1;
    box-shadow: 0 0 0 0.1875rem #c697a1, 0 0 0 0.375rem #c697a1;
    transition-duration: 75ms;
}
.plantFinder button.is-outlined {
    border: 0.1875rem solid #c697a1;
    background-color: transparent;
    color: #c697a1;
}
.plantFinder button.is-outlined:focus,
.plantFinder button.is-outlined:hover {
    border-color: #c697a1;
    color: #c697a1;
}
.plantFinder button.is-outlined:active {
    border-color: #c697a1;
    color: #c697a1;
}

.plantResult img {
    width: 100px;
    height: 100px;
}

.plantResult {
    font-family: "MenschWF";
}
