/* Welcome Component ------------------------------------------------- */

@font-face {
    font-family: "The_Bloom_Pen";
    src: url("/The_Bloom_Pen.otf");
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    cursor: url("/cursor(4).cur"), auto;
}

.logo {
    background-image: url("/Logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 300px;
    width: 300px;
}

.welcome {
    background-image: url("/Landingpage_V1920x1080.png");
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    width: 100vw;
    font-family: "The_Bloom_Pen";
    text-shadow: 1px 1px 1px #7a7a7a;
    font-size: 20px;
}

.welcometext {
    height: 500px;
    width: 500px;
    font-size: 30px;
    position: absolute;
    right: 130px;
    text-align: center;
    top: 260px;
}

.welcomeheadline {
    font-size: 50px;
    position: absolute;
    right: 100px;
    top: 170px;
}

.loginpath {
    position: absolute;
    right: 300px;
    top: 100px;
    font-size: 30px;
}

.loginpath:visited {
    color: black;
}

.loginpath:hover {
    color: #71a03f;
    text-shadow: none;
}
.loginpath:before {
    color: black;
}

.registerpath {
    position: absolute;
    right: 100px;
    top: 100px;
    font-size: 30px;
}

.registerpath:visited {
    color: black;
}

.registerpath:hover {
    color: #71a03f;
    text-shadow: none;
}

.registerpath:before {
    color: black;
}

/* Login Component ----------------------------------------------- */

.loginform {
    position: absolute;
    right: 100px;
    top: 250px;
    text-align: center;
}

#email {
    font-size: 15px;
    height: 20px;
    width: 200px;
    font-family: "Luminari";
    position: relative;
    left: 30px;
}

#password {
    height: 20px;
    width: 200px;
    font-family: "Luminari";
    position: relative;
    left: 10px;
}

#pwlabel {
    font-size: 25px;
}

#emaillabel {
    font-size: 25px;
    position: relative;
}

.notregistered {
    font-size: 30px;
}

.forgottenpw {
    font-size: 30px;
}

#registerhere:visited {
    color: black;
}

#registerhere:hover {
    color: #71a03f;
    text-shadow: none;
}

#registerhere:before {
    color: black;
}

#resethere:visited {
    color: black;
}

#resethere:hover {
    color: #71a03f;
    text-shadow: none;
}

#resethere:before {
    color: black;
}

:root {
    --background: #e5ffb3;
    --background-accent: #dbf8a3;
    --background-accent-2: #bde66e;
    --light: #92de34c5;
    --dark: #71a03f;
    --text: black;
}

.loginbutton {
    font-family: "The_Bloom_Pen";
    display: block;
    outline: none;
    border: none;
    background-color: var(--light);
    width: 100px;
    height: 30px;
    border-radius: 30px;
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--text);
    background-size: 100% 100%;
    box-shadow: 0 0 0 7px var(--light) inset;
    margin-bottom: 15px;
    position: relative;
    left: 200px;
    top: 20px;
}

.loginbutton:hover {
    font-family: "The_Bloom_Pen";
    background-image: linear-gradient(
        145deg,
        transparent 10%,
        var(--dark) 10% 20%,
        transparent 20% 30%,
        var(--dark) 30% 40%,
        transparent 40% 50%,
        var(--dark) 50% 60%,
        transparent 60% 70%,
        var(--dark) 70% 80%,
        transparent 80% 90%,
        var(--dark) 90% 100%
    );
    animation: background 3s linear infinite;
}

@keyframes background {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 400px 0;
    }
}

/* ResetPw Component --------------------------------------------- */

.resetpwbutton {
    font-family: "The_Bloom_Pen";
    display: block;
    outline: none;
    border: none;
    background-color: var(--light);
    width: 300px;
    height: 30px;
    border-radius: 30px;
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--text);
    background-size: 100% 100%;
    box-shadow: 0 0 0 7px var(--light) inset;
    margin-bottom: 15px;
    position: relative;
    left: 200px;
    top: 20px;
    position: relative;
    left: 50px;
    top: 30px;
}

.resetpwbutton:hover {
    font-family: "The_Bloom_Pen";
    background-image: linear-gradient(
        145deg,
        transparent 10%,
        var(--dark) 10% 20%,
        transparent 20% 30%,
        var(--dark) 30% 40%,
        transparent 40% 50%,
        var(--dark) 50% 60%,
        transparent 60% 70%,
        var(--dark) 70% 80%,
        transparent 80% 90%,
        var(--dark) 90% 100%
    );
    animation: background 3s linear infinite;
}

#pwresetform {
    text-align: center;
    height: 30px;
    width: 300px;
    position: absolute;
    right: 280px;
    top: 400px;
}

.requestpwcode {
    position: absolute;
    text-align: center;
    right: 150px;
    top: 250px;
    height: 100px;
    width: 500px;
}

.resetmaillabel {
    font-size: 25px;
    position: realtive;
    right: 530px;
    top: 370px;
}

.resetmailinput {
    position: relative;
}

.insertpwcode {
    text-align: center;
    height: 30px;
    width: 300px;
    position: absolute;
    right: 280px;
    top: 250px;
}

/* Register Component -------------------------------------------- 


.



*/

/* App Component ------------------------------------------------- */

.app {
    background: purple;
}
