/* Welcome Component ------------------------------------------------- */

@font-face {
    font-family: "The_Bloom_Pen";
    src: url("/The_Bloom_Pen.otf");
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    cursor: url("/cursor(4).cur"), auto;
}

.logo {
    background-image: url("/Logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 300px;
    width: 300px;
}

.welcome {
    background-image: url("/Landingpage_V1920x1080.png");
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    width: 100vw;
    font-family: "The_Bloom_Pen";
    font-size: 20px;
}

.welcometext {
    height: 500px;
    width: 500px;
    font-size: 30px;
    text-shadow: 1px 1px 1px #7a7a7a;
    position: absolute;
    right: 130px;
    text-align: center;
}

.welcomeheadline {
    font-size: 50px;
    text-shadow: 1.5px 1px 1px #7a7a7a;
    position: absolute;
    right: 100px;
    top: 200px;
}

.loginpath {
    position: absolute;
    right: 300px;
    top: 100px;
    font-size: 30px;
    text-shadow: 1px 1px 1px #7a7a7a;
}

.loginpath:visited {
    color: black;
}

.registerpath {
    position: absolute;
    right: 100px;
    top: 100px;
    font-size: 30px;
    text-shadow: 1px 1px 1px #7a7a7a;
}

.registerpath:visited {
    color: black;
}

/* App Component ------------------------------------------------- */

.app {
    background: purple;
}
